.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
  }
  
  .header  li {
    float: left;
  }
  .header  li .pages {
    text-align: center;
  }
  
  .header  li a {
    display: block;
    color: crimson;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header   li a:hover {
    background-color: azure;
  }
  .header li img{
    width: 25px;
}
.header ul .pages {
    height: 35px;
}
span {
    color: teal;
    font-size: xxx-large;
    text-align: left;
    padding-right: 250px;
    padding-left: 10px;
}
 /*Section1*/
 .section1 {
  background-color: black;
  border-bottom: outset;
 }
  h2 {
  font-size: 60px;
  font-style: normal;
  color: aliceblue;
  padding: 20px;
  margin-bottom: 25px;
  MARGIN-TOP: 0PX;
    WIDTH: 45%;
  
 }
 #number01p{
  font-size: 45px;
  font-weight: 900;
  font-family: monospace;
  margin-top: 14px;
 }
.number01 {
  background-color: violet;
  border-radius: 50px;
  color: aliceblue;
  width: 80px;
  height: 80px;
  display: inline-block;
  text-align: center;
  margin-left: 25px;
 
}
#number88{
  border-radius: 160px;
  display: inline-block;
  width: 300px;
  height: 280px;
  background-color: violet;
  text-align: center;
  margin-inline-start: auto;
  margin-bottom: 20px;
  margin-right: 90px;
}
#number88p {
  font-size: 56px;
  font-family: fantasy;
  color: aliceblue;

}
#text_number88 {
  margin-top: -24px;
  color: aliceblue;
  font-size: 20px;
  font-family: fantasy;
}
.number01 img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
#section1-flex {
  display: flex;
}
#section1_text {
  align-self: flex-end;
  margin-left: -75px;
  width: 40%;
  color: whitesmoke;
  font-size: smaller;
      margin-bottom: 30px;
}
 /*Section2*/
.Section2{
  background-color: black;
  border-bottom: outset;
}
#Section2-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  margin: 10px;
  color: dimgray;
    font: status-bar;
}
#Photo-girl {
  width: 625px;
  float: left;
}
.section2-right{
color: whitesmoke;
padding: 31px;
}
.Section2-PhotoSVG {
  background-color: violet;
  border-radius: 50px;
  color: aliceblue;
  width: 80px;
  height: 80px;

  text-align: center;
  margin-left: 100px;
  float: left;
  margin-right: 25px;
  
}
.Section2-PhotoSVG img {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
.section2-right h4 {
  font-size: 20px;
  font-weight: 900;
}

.section2-right p{
  font-size: smaller;
    text-shadow: 1px 1px 30px;
}





  /*Section3*/

.Section3 {
  background-color: black;
  border-bottom: outset;
color: aliceblue;
}
.Section3 img {
  width: 100%;
  height: 550px;
  margin-bottom: -376px;
}
.Section3-table {
  display: flex;
  padding-bottom: 35px;
  padding-top: 10px;
  border-bottom: 1px solid grey;

}
#Section3-block {
  background-color: violet;
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 70px;
}

.number01-04 {
  float: left;
  background-color: aliceblue;
  border-radius: 50px;
  color:violet ;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px
}

  /*Section4*/
.section4 {
  display: flex;
  color: aliceblue;
  background-color: violet;
  width: 100%;
  height: 250px;
  padding-top: 50px;
  text-align: center;
}
.section4_Photo {
  border-radius: 50px;
  width: 150px;
  height: 150px;
  float: left;
}
.section4_blocks {
  width: 50%;
  text-align: center;
}

  .section4_Photo img {  border-radius: 90px;
    width: 150px;
    margin-left: 50px;
  }
.section4 a img {
  width: 50px;
  height: 50px;
}
.section4 h5 {
  font-size: 22px;
  font-weight: 900;
  display: inline;
  font-family: cursive;
}
.section4 p {
  display: inline-block;
  width: 382px;
}

  /*Section5*/
.section5 {
  background-color: black;
  color: azure;
}
.section5 img{
  width: 150px;
  height: 150px;
  border-radius: 90px;
  margin-top: 25px;
}
.section5 h2 {
  width: 65%;
}
.section5 p {
  margin-top: -25px;
  font-style: italic;
  border-bottom: dotted;
  width: 60%;
  margin-left: 25px;
}
.section5-table {
  display: flex;
  justify-content: center;
}

.section5-table #ol_violet{
  background-color: violet;
  width: 250px;
  height: 250px;
  list-style: upper-latin;

}
.section5-table ol {
  list-style: decimal-leading-zero;
}
.section5-table li{
 margin: 19px 100px 0px 62px;
}