body {
  background-color: rgb(234, 232, 229)
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(8, 8, 8);
}

header li {
  float: left;
  text-align: center;
}
header li .pages {
  text-align: center;
}

header li a {
  display: block;
  color: crimson;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header  li a:hover {
  background-color: darkgray
}
header li img{
  width: 25px;
}
header ul .pages {
  height: 35px;
}
header span {
  color: teal;
  font-size: xxx-large;
  text-align: left;
  padding-right: 250px;
  padding-left: 10px;
}




.conteiner1 img {
  width:100%;
}

.topleft {
  position: absolute;
  top: 54%;
  left: 36%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: azure;

  
}

.conteiner1 h4 {
  padding-left: 40px;
}

.table-conteiner1 {
  color: aliceblue;
  position: absolute;
  bottom: -100px;
  right: 56px;
  font-size: 18px; 
  background-color: grey;
  padding-right: 25px;
  width: 300px;
  height: 300px;
}
.table-conteiner1 li {
  padding: 8px;
}
.table-conteiner2 li {
  padding: 8px;
}

.table-conteiner2 {
  color: aliceblue;
  position: absolute;
  bottom: -100px;
  right: 380px;
  font-size: 18px; 
background-color: darkslategrey;
padding-right: 25px;
width: 300px;
height: 300px;
}

.conteiner1 ul {
  list-style-type: none;
}
div .table-conteiner2 {
  width: 300px;
}
#section2-bottom {
  display: flex;
  width: 100%;
  height: 260px;
  background-color: rgb(104, 76, 76);
  margin-top: 64px;
  margin-bottom: 32px;
  
}
.section2-bottom1 {
  text-align: center;

}


.section2 h2 {
  font-size: 60px;
  color: black;
  width: 60%;
  font-style: inherit; 
  margin-left: 35px}
  #p-section2{
    color: darkgray;
    font-size: larger;
    width: 70%;
    margin-left: 20px;
    margin-bottom: 100px;
  }
.Foto3 {
  width: 135px;
  height: 140px;
  border-radius: 139px;
  background-color: black; 
  margin-top: -40px;
  display: inline-block;
}

.section2-bottom1 h4 {    font-size: larger;
  font-family: cursive;
}
.section2-bottom1 p {
  color: ghostwhite;
  text-shadow: 1px 1px 1px;
}



.section2-bottom1 img{
  height: 100px;
  margin-top: 20px;}



.section3 {

  background-color: aqua;
}
.section3-left{
  width: 50%;
  margin-left: auto;
}
.section3-top {
  display: flex;
}
.section3 h2 {
  font-size: 60px;
  color: dimgray;
  margin-left: 50px;
  padding-top: 50px;
}
.section3-left p {
  font-size: 30px;
  color: dimgray;
  padding: 12px;
 
}

.section3-right {
  width: 40%;
  text-align: left;
  margin-top: auto;
  margin-right: 40px;
}
.section3-right img {
  border-radius: 208px;
  width: 300px;
}
.section3-right p {
  margin-top: 50px;
  padding-bottom: 70px;
  color: dimgray;
  font-style: italic;
  text-shadow: 1px 1px;
}

.section3-left a:link, a:visited {
  background-color: #111;
  color: dimgray;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: -20px;
}

.section3-left a:hover, a:active {
  background-color: black; }

.section4 {
  background-color: white;
  MARGIN-TOP: -50PX;
}
.section4 h2 {
  padding-top: 50px;
  padding-left: 50px;
    font-size: 60px;
}

.section4-bottom {
  display: flex;
  color: rgb(106, 105, 105);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  padding: 25px;
}
.section4-bottom li {
  margin: 28px;
  
}
.section4-bottom li::marker {
  color: greenyellow;
  font-size: 48px;
}

.section5{
  background-color: #111;
  color: aliceblue;
}
.section5-top {
  display: inline-block;
  padding-left: 50px;
  margin-top: 50px;
  margin-bottom:80px; 
}
.section5-top h2 {
  display: inline;
  font-size: 60px;
}
.section5-top p {
  text-shadow: 5px 4px 1px;
  color: dimgrey;}
  
  li a:hover {
    background-color: white;
  }
li img{
    width: 25px;

}
.company {
  display: flex;
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px 10px;
  padding-bottom: 50px;
}
.companylogo {
  width: 150px;
  height: 24px;
}

.company a:link, a:visited {
  background-color: dimgrey;
  color: aliceblue;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;

}