body {
    background-color: lightgray;
}

.image1 {
    display: inline-block;
    width: 100%;
}

a {
    position: absolute;
    top: 150px;
    left: 15%;
    width: 100%;
    color: white;

}

table {
    position: absolute;
    top: 300px;
    left: 35%;
    width: 50%;


}

ul.top-left-list {
    list-style: none;
}
ul.top-right-list {
    list-style: none;
}
ul.top-left-list li::before,
ul.top-right-list li::before {
    content: "\2713";
}

.bottom-list li {
    color: green;

}

li p {
    color: black;
}

.left-block,
.right-block {
    width: 45%;
    display: inline-block;
    margin: 25px;
}

.container {
    margin-top: 50px;
}

.cow_33 {
    text-align: center;
    background-color: white;
    width: 33%;
    display: inline-block;
}

.rounder {
    border-radius: 100%;
    background-color: aqua;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: -25px;
}

.cow_33 img {
    width: 20px;
    height: 20px;
    margin: 15px;
}



.bl-but button{

    border: 0px;
    padding: 15px;
    border: none;
    background-color: black;
    color: white;

}



.cow_34 {
    text-align: initial;

    width: 24%;
    display: inline-block;
    background-color: aqua;

}

.rounder1 {
    width: 24%;
    display: inline-block;



}

.cow_34 img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 100%;
}


.aqua-block {
    background-color: aqua;
}

.cow_31 {
    text-align: left;
    
    width: 100%;
    display: inline-block;
    background-color: aqua;


}

.cow_32 {
    text-align: left;
    margin: 70px;
    width: 35%;
    display: inline-block;
}

.black-block {
    background-color: black;
    text-align: center;

}
.cow_35 {
    text-align: left;
    color: white;
    width: 90%;
    display: inline-block;
    
}
.cow_36 {
    text-align: center;
    color: white;
    
    display: inline-block;
    width: 150px;
    padding: 40px;
}
button {

    border: 0px;
    padding: 15px;
    color: white;
    background-color: aqua;
}

.cow_37 {
    text-align: center;
    color: white;
    
    display: inline-block;
    width: 150px;
    padding: 40px;
}
button {

    border: 0px;
    padding: 15px;
    color: white;
    background-color: aqua;
}
.cow_38 {
    text-align: center;
    color: white;
    
    display: inline-block;
    width: 150px;
    padding: 40px;
}
button {

    border: 0px;
    padding: 15px;
    color: white;
    background-color: aqua;
}
.cow_39 {
    text-align: center;
    color: white;
    
    display: inline-block;
    width: 150px;
    padding: 40px;
    
}
button {

    border: 0px;
    padding: 15px;
    color: white;
    background-color: aqua;
}

